name: finnovator

services:

  frontend:
    build: ./frontend
    container_name: frotend
    ports:
      - 5173:5173
    env_file:
      - .env
    depends_on:
      - backend
      - db
  
  backend:
    build: ./backend
    container_name: backend
    ports:
      - 8080:8080
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: db
    ports:
      - 5432:5432
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}